html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page-teaser {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: url('assets/cursor-pointer.png'), auto;
}

.video-wrap {
  position: relative;
  display: block;
  background-color: #183cd1;
  height: 100%;
  width: 100%;
}

.video-container {
  position: relative;
  display: block;
  padding: 0 100px;
  height: 100%;
}

.socials-wrap {
  position: relative;
  display: block;
  background-color: #00993b;
  padding: 50px 0;
  width: 100%;
}

.socials-container {
  position: relative;
  display: block;
  padding: 0 100px;
  height: 100%;
}

.socials-headline {
  margin: 0;
  font-family: 'BB Roller';
  text-align: center;
}

.socials-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.socials-box {
  width: 44%;
  margin: 0;
  text-align: inherit;
  z-index: 10012;
  width: 15em;
  flex: 0 0 15em;
  padding: 10px;
}

.socials-box img {
  width: 100%;
  height: auto;
  position: relative;
  display: block
}

.instagram-post-image {
  position: relative;
  width: 15em;
  height: 15em;
  overflow: hidden
}

.instagram-post-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%)
}

.instagram-post-image img.portrait {
  height: auto;
  width: 100%;
}

.instagram-post-image img.landscape {
  height: 100%;
  width: auto;
}

.page-header {
  position: fixed;
  background: url('assets/hdr-shadow.png') bottom left no-repeat;
  height: 70px;
  text-transform: uppercase;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0 !important;
  width: 100%;
  z-index: 100;
}

.header-inner {
  background-color: #fff;
  margin-bottom: 14px;
  height: 55px;
}
