html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'BB Roller';
  cursor: url('../assets/cursor-pointer.png'), auto;
}

#loading-wrap {
  position: fixed;
  top: 0;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
}

.loading-img {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30vw;
  height: auto;
  opacity: 1;
  transition: all .3s ease-out;
}

.fade-in {
  opacity: 1 !important;
}
.fade-out {
  opacity: 0;
  z-index: -1 !important;
}

.page-teaser {
  opacity: 0;
  transition: all .3s ease-out;
  height: 0;
  position: absolute;
  top: 0;
  padding-top: 55px;
  width: 100%;
}

.video-holder {
  position: relative;
  display: block;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.video-holder video {
  cursor: default;
}

.video-wrap {
  position: relative;
  display: block;
  background-color: #183cd1;
  width: 100%;
}

.video-container {
  position: relative;
  display: block;
  align-items: center;
  min-height: 100vh;
}

.video-credits {
  position: relative;
  display: block;
  padding: 0 25px;
}

.credits-wrap {
  padding: 30px 0 50px;
  text-align: right;
}

.socials-wrap {
  position: relative;
  display: block;
  background-color: #00993b;
  padding: 50px 0;
  width: 100%;
}

.socials-container {
  position: relative;
  display: block;
  padding: 0 25px;
  height: 100%;
  max-width:  1100px;
  margin: 0 auto;
}

.socials-headline,
.socials-sub-headline {
  margin: 0;
  text-align: center;
}

.socials-headline {
  font-size: 1.7em;
  line-height: 1.7em;
}

.socials-sub-headline {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 1em;
}

.socials-group {
  position: relative;
  display: block;
}

.socials-link {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

a,
a:visited {
  position: relative;
  display: block;
  cursor: url('../assets/cursor-pointer.png'), auto;
}

.cover-post-image img {
  transition: all .2s ease-in;
}

.cover-post-image:hover img {
  filter: blur(0);
  opacity: .75;
  transform: scale(.85) !important;
}

.collage-box {
  display: block;
  position: relative;
  margin: 0;
  text-align: inherit;
  z-index: 99;
  padding: 10px;
  width: 25em;
  flex: 0 0 25em;
}

.collage-ig {
  position: absolute;
  width: 10em;
  height: 10em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: yellow;
}

.collage-bg {
  transform-origin: center;
}

.collage-box:nth-child(1) .collage-bg {
  transform: rotate(-10deg);
}
.collage-box:nth-child(2) .collage-bg {
  transform: rotate(15deg);
}
.collage-box:nth-child(3) .collage-bg {
  transform: rotate(-13deg);
}
.collage-box:nth-child(4) .collage-bg {
  transform: rotate(-17deg);
}
.collage-box:nth-child(5) .collage-bg {
  transform: rotate(7deg);
}
.collage-box:nth-child(6) .collage-bg {
  transform: rotate(-4deg);
}

.socials-instagram,
.socials-covers,
.collage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.collage {
  margin-bottom: 250px;
}

.socials-box {
  margin: 0;
  text-align: inherit;
  z-index: 99;
  padding: 10px;
  width: 10em;
  flex: 0 0 10em;
}

.socials-box img {
  width: 100%;
  height: auto;
  position: relative;
  display: block
}

.socials-box-ig {
  width: 15em;
  height: 15em;
}

.instagram-post-image {
  position: relative;
  width: 15em;
  height: 15em;
  overflow: hidden
}

.instagram-post-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%)
}

img.portrait {
  height: auto;
  width: 100%;
}

img.landscape {
  height: 100%;
  width: auto;
}

.page-header {
  display: block;
  position: fixed;
  background: url('../assets/hdr-shadow.png') bottom left no-repeat;
  height: 70px;
  text-transform: uppercase;
  margin-bottom: 2px;
  overflow: hidden;
  top: 0;
  right: 0 !important;
  width: 100%;
  z-index: 999;
}

.header-inner {
  background-color: #fff;
  margin-bottom: 14px;
  height: 55px;
}

.coming-soon {
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 100px;
  background: #fef734;
}

.coming-soon a:link,
.coming-soon a:visited,
.coming-soon a:active {
  color: inherit;
  text-decoration: none;
}

.coming-soon a {
  transition: all .3s ease-in-out;
}

.coming-soon a:hover {
  transform: scale(.8);
}

.coming-soon-loop {
  position: relative;
  display: block;
  height: 60%;
  width: auto;
  margin: 0 auto;
  padding: 150px 0;
}

.loop-wrap {
  position: relative;
  display: block;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .socials-container,
  .video-credits {
    padding: 0 50px;
  }

  .socials-box {
    width: 15em;
    flex: 0 0 15em;
  }

  .socials-box-ig {
    width: 20em;
    height: 20em;
    flex: 0 0 20em;
  }

  .collage-box {
    width: 20em;
    flex: 0 0 20em;
  }

  .instagram-post-image {
    width: 20em;
    height: 20em;
  }

  p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 984px) {
  .socials-container,
  .video-credits {
    padding: 0 100px;
  }
}
