.collage-post-caption a {
  height: auto !important;
  display: initial;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'BB Roller';
  cursor: url('../assets/cursor-pointer.png'), auto;
}

#loading-wrap {
  position: fixed;
  top: 0;
  display: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;
}

.loading-img {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30vw;
  height: auto;
  opacity: 1;
  transition: all .3s ease-out;
}

.fade-in {
  opacity: 1 !important;
}
.fade-out {
  opacity: 0;
  z-index: -1 !important;
}

.page-teaser {
  opacity: 0;
  transition: all .3s ease-out;
  height: 0;
  position: absolute;
  top: 0;
  padding-top: 55px;
  width: 100%;
}

.video-holder {
  position: relative;
  display: block;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.video-holder video {
  display: none;
}

.intro-fallback {
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  top:0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: auto;
}

.video-wrap {
  position: relative;
  display: block;
  background-color: #183cd1;
  width: 100%;
}

.video-container {
  position: relative;
  display: block;
  align-items: center;
  min-height: 100vh;
}

.video-credits {
  position: relative;
  display: block;
  padding: 0 25px;
}

.credits-wrap {
  padding: 30px 0 50px;
  text-align: right;
}

.socials-wrap {
  position: relative;
  display: block;
  padding: 50px 0;
  width: 100%;
}

.covers {background-color: #00993b;}
.contest {
  background-color: #e4432d;
  cursor: url('../assets/cursor-pointer.png'), auto;
}
.instagram {background-color: #b2b2b2;}

.socials-container {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.socials-container-contest {
  position: relative;
  display: block;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}

.socials-headline,
.socials-sub-headline {
  margin: 0;
  text-align: center;
}

.socials-headline {
  font-size: 1.9em;
  line-height: 1.2em;
  font-family: 'Tush';
}

.socials-sub-headline {
  font-family: 'BB Roller';
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 1em;
}

.socials-group {
  position: relative;
  display: block;
}

.socials-link {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

a,
a:visited {
  position: relative;
  display: block;
  cursor: url('../assets/cursor-pointer.png'), auto;
  outline: none;
  color: inherit;
  text-decoration: none;
}

.cover-post-image img {
  transition: all .2s ease-in;
}

.collage-box {
  display: block;
  position: relative;
  margin: 0;
  text-align: inherit;
  z-index: 99;
  padding: 10px;
  width: 15em;
  flex: 0 0 15em;
}

.collage-post-image {
  position: absolute;
  width: 15em;
  height: 15em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  z-index: 1000;
}

.collage-post-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all .2s ease-in;
}

.collage-post-caption {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  margin: auto;
  background: yellow;
  transition: all .3s ease-in;
  font-size: 11px;
  line-height: 15px;
  height: 60%;
  width: 80%;
  padding: 10px;
  z-index: 999;
}

.collage-box:hover .collage-post-caption {
  opacity: 1;
  z-index: 9999;
}

/*.collage-post-image:hover img {
  filter: blur(0);
  opacity: .75;
  transform: translate(-50%, -50%) scale(.85) !important;
}*/

.collage-bg {
  transform-origin: center;
}

.collage-box:nth-child(1) .collage-bg {
  transform: rotate(-10deg);
}
.collage-box:nth-child(2) .collage-bg {
  transform: rotate(15deg);
}
.collage-box:nth-child(3) .collage-bg {
  transform: rotate(-13deg);
}
.collage-box:nth-child(4) .collage-bg {
  transform: rotate(-17deg);
}
.collage-box:nth-child(5) .collage-bg {
  transform: rotate(7deg);
}
.collage-box:nth-child(6) .collage-bg {
  transform: rotate(-4deg);
}

.socials-instagram,
.socials-covers,
.collage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}

.socials-instagram,
.socials-covers {
  margin-bottom: 50px;
}

.collage {
  margin-top: 150px;
}

.socials-box {
  margin: 0;
  text-align: inherit;
  z-index: 99;
  padding: 10px;
  width: 10em;
  flex: 0 0 10em;
}

.socials-box img {
  width: 100%;
  height: auto;
  position: relative;
  display: block
}

.socials-box-ig {
  width: 15em;
  height: 15em;
}

.instagram-post-image {
  position: relative;
  width: 15em;
  height: 15em;
  overflow: hidden
}

.instagram-post-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%)
}

img.portrait {
  height: auto;
  width: 100%;
}

img.landscape {
  height: 100%;
  width: auto;
}

.page-header {
  display: block;
  position: fixed;
  background: url('../assets/hdr-shadow.png') bottom left no-repeat;
  height: 70px;
  text-transform: uppercase;
  margin-bottom: 2px;
  overflow: hidden;
  top: 0;
  right: 0 !important;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

.header-inner {
  background-color: #fff;
  margin-bottom: 14px;
  height: 55px;
  position: relative;
  display: flex;
  cursor: default;
  overflow: scroll;
}

.header-logo {
  font-family: 'Tush';
  font-weight: 800;
  font-size: 1.5em;
  white-space: nowrap;
  line-height: 55px;
  padding-left: 10px;
  display: inline-block;
  position: relative;
}

.header-menu {
  display: flex;
  position: relative;
  padding-left: 50px;
  white-space: nowrap;
  line-height: 55px;
}

.header-link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding-right: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.header-link:active,
.header-link:visited,
.header-link:link {
  color: inherit;
  text-decoration: none;
}

.coming-soon {
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 100px;
  background: #fef734;
}

.coming-soon a:link,
.coming-soon a:visited,
.coming-soon a:active {
  color: inherit;
  text-decoration: none;
}

.coming-soon a {
  transition: all .3s ease-in-out;
}

.coming-soon a:hover {
  transform: scale(.8);
}

.coming-soon-loop {
  position: relative;
  display: block;
  height: 60%;
  width: auto;
  margin: 0 auto;
  padding: 150px 0;
}

.loop-wrap {
  position: relative;
  display: block;
  height: 100vh;
}

@media only screen and (min-width: 414px) {
  .socials-headline {
    font-size: 2.7em;
    line-height: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  .video-credits {
    padding: 0 50px;
  }

  .socials-box {
    width: 15em;
    flex: 0 0 15em;
  }

  .socials-box-ig {
    width: 20em;
    height: 20em;
    flex: 0 0 20em;
  }

  .collage-box {
    width: 20em;
    flex: 0 0 20em;
  }

  .instagram-post-image {
    width: 20em;
    height: 20em;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  #loading-wrap {
    display: block;
  }

  .socials-headline {
    font-size: 3.7em;
    line-height: 1.2em;
  }

  .socials-headline.contest {
    font-size: 6em;
    margin-bottom: .6em;
  }

  .video-holder video {
    display: block;
  }

  .intro-fallback {
    display: none;
  }

  .socials-container-contest {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 984px) {
  .video-credits {
    padding: 0 100px;
  }

  .socials-container-contest {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 984px) {
  .collage-post-caption {
    font-size: 15px;
  }

}
